/* https://fonts.google.com/specimen/Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

ul {
  padding: 1em 1em 1em 0;
  li {
    padding: 1em auto;
    margin: 1em auto;
    font-size: 1.1em;
    line-height: 1.5em;
  }
}

footer {
  min-height: 4em;
  background: $tar;
  text-align: center;
  color: white;
  padding: 2em;
  margin-top: 4em;
  @media (max-width: 500px) {
    margin-top: 1em;
  }
}

.image-container {
  img {
    max-width: 100%;
  }
}

.fa-icon {
  color: $dark-green;
  &:hover {
    color: $tar;
  }
}
