.writing-collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  width: 100vw;
  margin: 1em auto;
  .writing-box {
    width: 25vw;
    border: 2px solid $reclining-green;
    padding: 1em;
    margin: 1em;
    border-radius: 3px;
    h2,
    h3,
    p {
      padding-bottom: 0.5rem;
      white-space: pre-wrap;
    }
    h3 {
      font-style: italic;
    }
  }
}
